body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}
.menu1{
    margin-top: -1%;
    margin-left: 10%;
    background-color: rgb(75, 134, 55);
    height: 75%;
    width: 300px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu2{
    margin-top: -1%;
    margin-left: 10%;
    background-color: rgb(28, 70, 114);
    height: 75%;
    width: 300px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
.menu3{
    margin-top: -1%;
    margin-left: 10%;
    background-color: rgb(214, 198, 80);
    height: 75%;
    width: 300px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
.title{
    font-size: 50px;
    text-decoration: underline;
}
.info{
    font-size: 30px;
    margin-left:120%;
    margin-top: -45%;
    width: 1000%;
    color: black;
}
.subtitle{
    font-size: 100px;
}
.hLink{
    color: black;
}
.mLink{
    color: white;
}
a:link {
    text-decoration: none;
      }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }